<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
    <style>
        table {
            width: 100%;
        }
        table, th, td {
            text-align: center;
            border-bottom: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
        
    </style>
</head>
<body>
    <h1 style="text-align: center; color: royalblue">Students Data</h1>
    <h4 style="text-align: center;"><a style="color: royalblue;text-decoration: none" href="addStudent"><a href="/student/add">add student</a></h4>
    <table>
        <tr>
            <th>Id</th>
            <th >First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Options</th>
        </tr>
            <% data.forEach(students => {%>
            <tr>
                <td><%= students.id %></td>
                <td><%= students.first_name %></td>
                <td><%= students.last_name %></td>
                <td><%= students.email %></td>
                <td><p><a href= "/student/edit/<%=students.id%>">Edit</a> | <a href = "/student/delete/<%=students.id%>" onclick = "return confirm('Delete this student?')">Delete</a></p></td>
            </tr>
            <%})%>
    </table>
</body>
</html>