<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="main.js"></script>
</head>
<body>
            <div class="container">
                    <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="/teachers">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=/students/all>students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/teachers/add">add Teacher</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/students/add">add students</a>
                    </li>
                    </ul>
                </div>

            <!-- <div class="container">
                    <form action="/login/:email/:password"   method="POST">
                      <div class="form-group">
                        <label>Email</label><br>
                        <input name ="email" type="text">
                      </div>
                      <div class="form-group">
                        <label>password</label><br>
                        <input name="password" type="text">
                      </div>
                      <button type="submit" >login/logout</button>
                    </form>
            </div> -->

            <div class="container">
            <h2>Suzuran High School</h2>
            <p> Teacher list</p>            
            <table class="table table-hover">
            <thead>
                <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>option</th>
                </tr>
            </thead>
            <% for(let i = 0; i < value.length; i++) {%>
                <tbody>
                    <tr>
                        <td> <%=value[i].first_name %> </td> 
                        <td> <%=value[i].last_name %> </td> 
                        <td> <%=value[i].email %> </td> 
                        <td> <p><a href="/teachers/edit/<%=value[i].id%> ">edit</a> | <a href ="/teachers/delete/<%=value[i].id%> " onclick = "return confirm('Are you sure?')">delete</a> </p></td>
                    </tr>
                </tbody>        
            <% } %>

            </table>
</div>
      
      
</body>
</html>
