<%- include ../partials/headers.ejs %>
<%- include ../partials/navbar.ejs %>

<title>Students Page</title>
</head>
<body>
    <h1>STUDENTS DATA</h1>
    <div class="container"> 
        <table class="table">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
                <%let no = 1%>
                <% data.forEach(student => { %>
                <tr>
                    <td><%= no %></td>
                    <td><%= student.first_name %></td>
                    <td><%= student.last_name %></td>
                    <td><%= student.email %></td>
                    <td><a href="/students/edit/<%= student.id %>"><button class="btn btn-primary">Edit</button></a> || <a href="/students/delete/<%= student.id %>"><button class="btn btn-danger" onclick="return confirm('Confirm Delete?')">Delete</button></a></td>
                    <% no++ %>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/students/add"><button class="btn btn-primary">Register New Student</button></a>
        </div>
</body>
</html>

